[submodule "nexus-lt/javaee7-simple-sample"]
	path = nexus-lt/javaee7-simple-sample
	url = https://github.com/xstefank/javaee7-simple-sample.git
[submodule "microprofile/microprofile1.4-samples"]
	path = microprofile/microprofile1.4-samples
	url = git@github.com:javaee-samples/microprofile1.4-samples.git
[submodule "quarkus-rest-client-extension"]
	path = quarkus-rest-client-extension
	url = https://github.com/xstefank/quarkus-rest-client-extension
[submodule "resteasy-client-test"]
	path = resteasy-client-test
	url = https://github.com/xstefank/resteasy-client-test
